<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CourseWork.Properties.Settings.TeachersTimetableConnectionString"
            connectionString="Data Source=LAPTOP-QDEPA6H7;Initial Catalog=TeachersTimetable;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>